@use '../abstracts/' as *;
@use 'sass:math';

.btn {
    display: block;
    width: 100%;
    font-family: var(--secondary-family);
    font-weight: 500;
    line-height: 1.48;
    text-align: center;
    border: 1px solid var(--basic-color);
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;

    &--small {
        max-width: 116px;
        padding: 8px;
        font-size: var(--basic-fz);
        border-radius: 22.5px;
        z-index: 2;
    }

    &--big {
        max-width: 150px;
        padding: 10px;
        font-size: var(--fz-400);
        border-radius: 24px;
    }
}

@media (hover: hover) {
    .btn:hover {
        background-color: var(--color-accent-primary);
        border-color: var(--color-accent-primary);
        color: var(--third-color);
    }
}

@media screen and (max-width: 1024px) {
    .btn {
        &--promo {
            order: 3;
        }
    }
}

@media screen and (max-width: 950px) {
    .btn {
        &--small {
            display: none;
        }
    }
}