// color

$COLOR_BASIC: rgb(58, 58, 58);
$COLOR_BASIC_500: rgb(51, 51, 51);
$COLOR_BASIC_300: rgb(97, 97, 97);
$COLOR_BASIC_200: rgb(137, 137, 137);
$COLOR_BASIC_100: rgb(244, 245, 247);

$COLOR_SECONDARY: rgb(232, 159, 113);

$COLOR_ACCENT_PRIMARY: rgb(233, 113, 113);
$COLOR_ACCENT_SECONDARY: rgb(46, 193, 172);

$COLOR_BG: rgb(249, 241, 231);
$COLOR_BG_300: rgb(252, 248, 243);

$COLOR_BLACK: rgb(0, 0, 0);
$COLOR_WHITE: rgb(255, 255, 255);
$COLOR_OPACITY_BLACK: rgba(0, 0, 0, 0.7);
$COLOR_OPACITY_WHITE: rgba(255, 255, 255, 0.7);